*,body{

    margin: 0;
    padding: 0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.main{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 10000px;

}

.main .container{

    width: 60%;
    height: 85%;
    background-color: white;
    transition: 0.8s;
    box-shadow: 0 0 13px 0 #00000040;

}

.main .container .header-bar{

    width: 100%;
    height: 1%;
    background-color: #673AB7;

}

.main .container .progress-form{

    width: 100%;
    height: 10%;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 5%;


}

.main .container .progress-form .numbers{

    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;


}

.main .container .progress-form .numbers .setp-number{

    background-color: transparent;
    width: 3.8%;
    height: 80%;
    border-radius: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;

}

.main .container .progress-form .numbers #step_one{

    background-color: #673AB7;
    color: white;
}

.main .container .progress-form .progress-bar{

    width: 0%;
    height: 10%;
    background-color: #673AB7;
    border-radius: 3vw;
    transition: 0.6s;
    margin-left: 13%;

}

.main .container .form{

    width: 83%;
    height: 60%;
    margin-left: 8%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;

}

.main .container .form .step-one{

    width: 100%;

}

.main .container .form .step-one .flex-input{

    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main .container .form .step-one .flex-input input{

    width: 49%;
    height: 100%;
    border-radius: .2vw;
    border: .1vw solid gray;
    padding: 2%;
    outline: none;
    margin: 0%;
    font-size: 1.2vw;

}

.main .container .form .step-one input{

    width: 100%;
    height: 18%;
    border-radius: .2vw;
    border: .1vw solid gray;
    padding: 2%;
    outline: none;
    margin-top: 3%;
    font-size: 1.2vw;

}


.main .container .form .step-two{

    width: 100%;
    display: none;
}

.main .container .form .step-two input{

    width: 100%;
    height: 18%;
    border-radius: .2vw;
    border: .1vw solid gray;
    padding: 2%;
    outline: none;
    margin-bottom: 3%;
    font-size: 1.2vw;

}


.main .container .form .step-three{

    width: 100%;
    display: none;

}

.main .container .form .step-three .flex-input{

    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;

}

.main .container .form .step-three .flex-input input{

    width: 49%;
    height: 100%;
    border-radius: .2vw;
    border: .1vw solid gray;
    padding: 2%;
    outline: none;
    font-size: 1.2vw;


}

.main .container .form .step-three input{

    width: 100%;
    height: 18%;
    border-radius: .2vw;
    border: .1vw solid gray;
    padding: 2%;
    outline: none;
    margin-bottom: 3%;
    font-size: 1.2vw;

}

.main .container .form .step-four{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;

}

.main .container .form .step-four .section-one,
.main .container .form .step-four .section-two 
{

    width: 50%;
    height: 70%;

}

.main .container .form .step-four .hr{

    border-left: .2vw solid black;
    height: 80%;

}

.main .container .form .step-four .inform-section{

    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15%;
    

}

.main .container .form .step-four .inform-section .title{
    font-size: 1.4vw;
    font-weight: bold;
    color: #373738;
}

.main .container .form .step-four .inform-section .result-info{

    margin-left: 5%;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.main .container .buttons{

    height: 9%;
    width: 91%;
    margin-left: 4.2%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: right;

}

.main .container .buttons button{

    width: 30%;
    height: 100%;
    font-size: 1.3vw;
    background-color: #673AB7;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .2vw;

}

.main .container .buttons #prev{
    display: none;
}