*{
	margin: 0;
	padding: 0;
}


body{

	font-family: "arial";
	display: flex;
	align-items: center;

}


.container{

	width: 18%;
	height: 100%;
	background-color: #1c1c1c;
	position: relative;
	transition: .4s;
}

.container .header{

	width: 100%;
	height: 12%;
	display: flex;
	align-items: center;

}


.container .header .logo{

	width: 20%;
	height: 60%;
	background-color: #FF9800;
	margin-left: 6%;
	border-radius: .4vw;
	display: flex;
	align-items: center;
	user-select: none;

}

.container .header .logo p{

	color: white;
	width: 100%;
	text-align: center;

}

.container .header p{

	color: white;
	width: 40%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	font-size: 1.3vw;
	margin-left: 4%;

}

.container .header i{

	font-size: 2vw;
	color: white;
	margin-left: 12%;
	cursor: pointer;

}

.container .menu-list{

	width: 100%;
	height: 65%;
	margin-top: 13%;
	display: flex;
	justify-content: center;

}

.container .menu-list div.menu-icons{
	width: 90%;
	display: none;
}

.container .menu-list div.menu-icons p{

	width: 92%;
	padding: 0 4%;
	height: 13%;
	color: white;
	border-radius: .3vw;
	cursor: pointer;
	margin-bottom: 10px;
	font-size: 1.5vw;
	display: flex;
	align-items: center;
	justify-content: center;

}

.container .menu-list div.menu-icons p .hint{

	display: block;
	color: white;
	background-color: #FF9800;
	display: flex;
	align-items: center;
	padding: 10% 50%;
	border-radius: .4vw;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	left: 85%;
	transition: .3s;

}

.container .menu-list div.menu-icons p.active{

	background-color: transparent;
	color: #FF9800;

}

.container .menu-list div.menu-icons p:hover .hint{

	opacity: 1;

}

.container .menu-list div.menu-icons p:hover{

	background-color: transparent;
	color: #FF9800;

}

.container .menu-list div.menu-icons p i{

	width: 100%;
	text-align: center;
	font-size: 2vw;
}

.container .menu-list #menu{

	width: 90%;

}


.container .menu-list div p{

	width: 92%;
	padding: 0 4%;
	height: 13%;
	color: white;
	border-radius: .3vw;
	cursor: pointer;
	margin-bottom: 10px;
	font-size: 1.5vw;
	display: flex;
	align-items: center;

}

.container .menu-list div p.active{

	background-color: #3a3a3a91;

}

.container .menu-list div p i{

	margin-left: 5%;
	margin-right: 15%;
	width: 10%;
	text-align: center;
	font-size: 2vw;
}

.container .menu-list div p:hover{

	background-color: #3a3a3a91;

}

.container .logout{

	width: 100%;
	height: 7%;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	cursor: pointer;

}


.container .logout div{

	background-color: green;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #3a3a3a91;
	color: white;
	font-size: 1.3vw;

}

.container .logout div p{

	margin-left: 10%;

}

.container .logout div i{

	margin-right: 10%;

}


.content-page{

	width: 82%;
	height: 100%;
	background-color: #222121;
	transition: .4s;
	overflow-y: auto;
	color: white;

}


.content-page p{

	margin: 5% 0 5% 5%;
	font-size: 3vw;

}

.content-page .light-dark-btn{

	position: absolute;
	right: 3%;
	top: 3%;
	padding: .5%;
	width: 4%;
	height: 4%;
	display: flex;
	align-items: center;
	font-size: 1.5vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;

}

.content-page .light-dark-btn i{cursor: pointer;}

.content-page .light-dark-btn i.fa-moon{

	background-color: white;
	color: black;
	width: 50%;
	height: 100%;
	border-radius: .5vw;
	padding: 1%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.content-page .light-dark-btn i.fa-sun{

	width: 50%;
	height: 100%;
	border-radius: .5vw;
	padding: 1%;
	display: flex;
	align-items: center;
	justify-content: center;

}