*,
body {
    margin: 0;
    padding: 0;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}


.main {

    width: 100%;
    height: 100%;
    background-image: url("../images/06172021_Bitcoin-Mining-China_151559.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

}

.main .header {

    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #222222;

}

.main .header .menu {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-right: 3%;

}

.main .list-menu{

    display: none;

}

.main .header .side-bar {

    display: none;

}

.main .header .menu button {

    padding: 1%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #b3b3b3;
    font-size: 1.1vw;
    transition: 0.4s;

}

.main .header .menu button:hover {

    color: white;

}

.main .header .menu #registerBtn {

    border: .2vw solid #fad514;
    background-color: #fad514;
    padding: 1%;
    width: 18%;
    color: black;
    font-size: 1.2vw;

}

.main .body{

    width: 100%;
    height: 90%;
    background-color: transparent;


}

.main .body .container{

    width: 100%;
    height: 100%;
    background-color: #000000c7;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.main .body .description-site{

    width: 50%;
    height: 85%;

}

.main .body .description-site .title{

    color: white;
    font-size: 4vw;
    display: flex;
    align-items: center;
    margin: 10% 10% 0 10%;

}
.main .body .description-site .title .second-section{

    color: #fad514;

}

.main .body .description-site .description-text{

    color: white;
    font-size: 1.4vw;
    width: 70%;
    margin: 3% 10%;

}


.main .body .login-form{

    width: 35%;
    height: 80%;
    background-color: rgb(0 0 0 / 55%);
    display: flex;
    align-items: center;
    justify-content: center;

}

.main .body .login-form div{

    width: 80%;
    position: relative;

}

.main .body .login-form div input{

    width: 100%;
    padding: 4% 2%;
    border: .1vw solid white;
    outline: none;
    color: white;
    background-color: transparent;
    margin-bottom: 5%;
    font-size: 1.1vw;

}

.main .body .login-form div #forgetPasswordBtn{

    float: right;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 5%;
    font-size: 1.1vw;

}

.main .body .login-form div button{

    width: 100%;
    height: 9%;
    background-color: #fad514;
    color: black;
    font-size: 1.2vw;
    cursor: pointer;
    outline: none;
    border: none;


}

.main .body .login-form div .hr{

    width: 100%;
    padding: .1%;
    background-color: white;
    margin-top: 7%;

}

.main .body .login-form div .to-signup{

    width: 100%;
    text-align: center;
    font-size: 1.1vw;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10%;

}